
#section-doacaopagina{
  background-color: #F4F4F4;
  background-color: #CDBA96!important;
  
}

#section-itens{
  background-color: #CDBA96;
  background-color: #F4F4F4!important;
}


.textoDoacao p{
    padding: 50px;
    font-size: 115%;
  }
  
  .explicacao{
    margin: 30px;
  }
  
  .titulo{
    padding: 20px;
    text-align: center;
  }
  
  #titulo1{
    padding-top: 0px;
    margin-top: 40px;
  }
  
  .lista{
    padding: 50px;
  }
  
  .imgDoacao{
    text-align: center;
  }
  
  .imgDoacao img{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: solid 3px black;
  }

  .contatoDoacao{
    padding-left: 50px;
}


/*=============== Header =================*/
#section-header{
  background-color: #8B7355!important;
}

.logo-img{
  height: 45px;
  width: 45px;
  
}

#section-header a {
  color: #E8E8E8;
}

.navbar-brand{
  font-size: 27px;
}


/*=============== Footer (RODAPE) =================*/
  a:hover{
    text-decoration:none;
  }
  .section-padding {
  padding: 20px 0;
  }
  .bottom {
    background-color:#e5e5e5
  }
  .bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
  }
  .bottom .copyright p, .bottom .copyright a:hover{
    color: #6c6d83;
  }

  @media screen and (max-width: 830px) {
    #sectioninformacoes{
        display: none;
    }
    #informacoesMobile{
        display: flex;
    }
}