#header{
    padding: 0;
}
#main{
    padding: 0;
}
#footer{
    padding: 0;
}
#primeiraParte{
    background-color: #F4F4F4;
    padding: 0;
}
.parteUm{
    margin: 0;
}

#segundaParte{
    background-color: #CDBA96!important;
}
#terceiraParte{
    background-color: #F4F4F4;
}
.parteTres{
    margin: 0;
    padding: 20px 0;
}

.tituloP{
    text-align: center;
}
.textVoluntarios{
    text-align: center;
}
.imagem img{
    max-width: 100%;
    height: 450px;
}
.imgQ{
    width: 400px;
    height: 250px;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 50px;
    border: black;
}
.listVoluntarios{
    text-align: center;
}
.formulario{
    text-align: center;
    padding-top: 0;
}
.formularioM{
    text-align: center;
    padding-top: 0;
    margin-bottom: 50px;
}
.formulario input{
    width: 100%;
}
.formularioM input{
    width: 100%;
    height: 100%;
}
.nomeOng{
    color: black;
}
.locOng{
    color: white;
}
.textOng{
    text-align: justify;
}
.listVoluntariosM{
    display: none;
}
.listaDeVoluntarios{
    padding: 30px 0;
}
#botaoVoluntario{
    border-radius: 30px;
    color: white;
    background-color: #CDBA96;
    border: transparent;
}
#cadastro{
    padding: 0;
}


@media screen and (max-width: 700px) {
    .listVoluntarios{
        display: none;
    }
    .listVoluntariosM{
        display: grid;
        text-align: center;
    }
}




/*=============== Header =================*/
#section-header{
    background-color: #8B7355!important;
}

.logo-img{
    height: 45px;
    width: 45px;
    
}

#section-header a {
    color: #E8E8E8;
}

.navbar-brand{
    font-size: 27px;
}